<!doctype html>
<html lang="en" data-bs-theme="dark" >

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/src/styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tauri App</title>
  <script type="module" src="/src/index.ts" defer></script>
  <script type="module" src="/src/header.ts" defer></script>


  <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <script type="module" src="/node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>
</head>

<body>
  {% include "header.html" %}

  <div id="regataContainer" class="container-lg">
    <!-- <div *ngFor="let i of this.raceList" class="card regata mb-4">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h3> {{i.name}} </h3>
          <button type="button" class="btn btn-primary edit">Modifica</button>
        </div>
      </div>
      <div class="d-flex justify-content-center m-3">
        <div class="px-3">
          <b>N:</b> {{i.N}}
        </div>
        <div class="px-3">
          <b>E:</b> {{i.E}}
        </div>
        <div class="px-3">
          <b>D:</b> {{i.D}}
        </div>
      </div>
    </div> -->
  </div>
</body>
</html>